<md-content flex layout-padding ng-controller="submitCtrl" md-colors="{background: 'hacker-background'}">
    <md-input-container class="md-block md-primary" md-theme='hacker'>
        <label>Title</label>
        <textarea ng-model="new_title_contribution" required md-maxlength="150" rows="1" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container class="md-block md-primary" md-theme='hacker'>
        <label>Url</label>
        <textarea ng-model="new_url_contribution" md-maxlength="150" rows="1" md-select-on-focus></textarea>
    </md-input-container>
    <h4>or</h4>
    <md-input-container class="md-block md-primary" md-theme='hacker'>
        <label>Text</label>
        <textarea ng-model="new_text_contribution" md-maxlength="150" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <div layout="row" layout-align="end center">
        <md-button md-theme='hacker' class="md-primary" ng-click="addContribution(4)">Submit</md-button>
    </div>
    <md-divider></md-divider>
    <p>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</p>
</md-content>